@import "compass/css3/transition"

.setting

  /* .panel-body -> shrink to disappear
  .panel
    @include transition(0.3s linear all)
    overflow: hidden
   
    &.ng-hide-add
      height: $setting-panel-height
      opacity: 1
   
    &.ng-hide-add-active
      height: 0px
      opacity: 0.3
   
    &.ng-hide-remove
      height: 0px
      opacity: 0.3
   
    &.ng-hide-remove-active
      height: $setting-panel-height
      height: 400px
      opacity: 1

