/* $setting-panel-height: 580px */
.menu-buttons {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 5; }

.history {
  position: absolute;
  top: 50px;
  left: 290px;
  z-index: 3; }
  .history .table {
    margin-top: 5px;
    margin-bottom: 5px; }

.setting {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 250px;
  z-index: 3;
  margin-bottom: 0; }
  .setting img.loading {
    width: 20px; }
  .setting .div-label {
    margin-top: 7px; }
  .setting .dropdown-toggle {
    /* something wierd is happening, but i don't care for now */
    /* (i mean, why do we need `pull-left` here, even though span isn't pulled left?) */ }
    .setting .dropdown-toggle .pull-left.dropdown-name {
      width: 130px;
      overflow: hidden; }
    .setting .dropdown-toggle .caret {
      /* since pull-right for caret makes the vertical position bad */
      margin-top: 8px; }
  .setting .dropdown-menu {
    max-height: 200px;
    width: 220px;
    overflow: scroll; }
  .setting .save-button {
    width: 140px; }

.video {
  width: 100%;
  z-index: 0; }
  .video iframe {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 0px; }

.subtitle-wrap {
  position: absolute;
  width: 444px;
  height: 136px;
  z-index: 1;
  padding: 10px;
  font-size: 17px;
  color: #ee7f3d;
  background-color: black;
  opacity: 0.7;
  overflow-x: hidden;
  overflow-y: scroll; }
  .subtitle-wrap img.loading {
    width: 50px; }

.subtitle-position-00 {
  top: 76%;
  left: 70px; }

.subtitle-position-10 {
  top: 76%;
  left: 30.5%; }

.subtitle-position-20 {
  top: 76%;
  right: 70px; }

.subtitle-position-01 {
  top: 20px;
  left: 70px; }

.subtitle-position-11 {
  top: 20px;
  left: 30.5%; }

.subtitle-position-21 {
  top: 20px;
  right: 70px; }

.setting, .history {
  /* disappearing to top */
  /* appearing from bottom */
  -moz-transition: ease-out 0.07s all;
  -o-transition: ease-out 0.07s all;
  -webkit-transition: ease-out 0.07s all;
  transition: ease-out 0.07s all; }
  .setting.ng-hide, .history.ng-hide {
    top: 800px; }
  .setting.ng-hide-add, .history.ng-hide-add {
    -moz-transition: ease-in 0.1s all;
    -o-transition: ease-in 0.1s all;
    -webkit-transition: ease-in 0.1s all;
    transition: ease-in 0.1s all;
    opacity: 1; }
  .setting.ng-hide-add-active, .history.ng-hide-add-active {
    -moz-transition: ease-in 0.1s all;
    -o-transition: ease-in 0.1s all;
    -webkit-transition: ease-in 0.1s all;
    transition: ease-in 0.1s all;
    top: -150px;
    opacity: 0; }
  .setting.ng-hide-remove-active, .history.ng-hide-remove-active {
    top: 800px;
    opacity: 0; }
  .setting.ng-hide-remove, .history.ng-hide-remove {
    opacity: 1; }
