img.loading {
  width: 20px; }

.setting {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 250px;
  z-index: 2;
  /* overflow: visible */ }
  .setting .panel {
    margin-top: 8px;
    height: 560px;
    /* overflow: visible */ }
    .setting .panel label, .setting .panel .div-label {
      margin-top: 7px; }
    .setting .panel .panel-body {
      /* overflow: visible */ }
    .setting .panel .input-group {
      /* overflow: visible */ }
      .setting .panel .input-group .dropdown-toggle {
        /* something wierd is happening, but i don't care for now */
        /* (i mean, why do we need `pull-left` here, even though span isn't pulled left?) */ }
        .setting .panel .input-group .dropdown-toggle .pull-left.dropdown-name {
          width: 130px;
          overflow: hidden; }
        .setting .panel .input-group .dropdown-toggle .caret {
          /* since pull-right for caret makes the vertical position bad */
          margin-top: 8px; }
      .setting .panel .input-group .dropdown-menu {
        /* z-index: 10000 */
        max-height: 200px;
        width: 220px;
        overflow: scroll; }

.video {
  width: 100%;
  z-index: 0; }
  .video iframe {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 0px; }

.subtitle-wrap {
  position: absolute;
  width: 444px;
  height: 136px;
  z-index: 1;
  padding: 10px;
  font-size: 17px;
  color: #ee7f3d;
  background-color: black;
  opacity: 0.7;
  overflow-x: hidden;
  overflow-y: scroll; }
  .subtitle-wrap img.loading {
    width: 50px; }

.subtitle-position-00 {
  top: 76%;
  left: 70px; }

.subtitle-position-10 {
  top: 76%;
  left: 30.5%; }

.subtitle-position-20 {
  top: 76%;
  right: 70px; }

.subtitle-position-01 {
  top: 20px;
  left: 70px; }

.subtitle-position-11 {
  top: 20px;
  left: 30.5%; }

.subtitle-position-21 {
  top: 20px;
  right: 70px; }

.setting {
  /* .panel-body -> shrink to disappear */ }
  .setting .panel {
    -moz-transition: linear 0.1s all;
    -o-transition: linear 0.1s all;
    -webkit-transition: linear 0.1s all;
    transition: linear 0.1s all;
    overflow: hidden; }
    .setting .panel.ng-hide-add {
      height: 560px;
      opacity: 1; }
    .setting .panel.ng-hide-add-active {
      height: 0px;
      opacity: 0.3; }
    .setting .panel.ng-hide-remove {
      height: 0px;
      opacity: 0.3; }
    .setting .panel.ng-hide-remove-active {
      height: 560px;
      height: 400px;
      opacity: 1; }
