.ui.centered.card
  .content
    .ui.centered.grid
      h2 'Allo, 'Allo!
  .image
    img(src='images/yeoman.png', alt="I'm Yeoman")
  .content
    .description
      | Always a pleasure scaffolding your apps.
  .ui.bottom.attached.button.blue
    | Splendid! &nbsp;
    i.star.icon

.ui.two.column.centered.grid
  .column
    .ui.piled.segment
      h4 HTML5 Boilerplate
      p
        | HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      h4 Angular
      p
        | AngularJS is a toolset for building the framework most suited to your application development.
      h4 Karma
      p Spectacular Test Runner for JavaScript.
