.ui.container.fluid
  .ui.large.secondary.pointing.menu
    .item.header TV Shows with Subtitles
    a.item(ui-sref="search"    ng-class="{active: vm.$state.current.name == 'search'}")    Search
    -// a.item.disabled(ui-sref="savedData" ng-class="{active: vm.$state.current.name == 'savedData'}") Saved Data
    .item.disabled(ng-class="{active: vm.$state.current.name == 'savedData'}") Saved Data
      .ui.left.pointing.yellow.label 0
    a.item(ui-sref="watch"     ng-class="{active: vm.$state.current.name == 'watch'}")     Watch
    .right.item#mine-header-menu-right-buttons
      .ui.buttons
        .ui.labeled.icon.button.orange.disabled
          i.left.arrow.icon
          | Previous
        .or(data-text="")
        .ui.right.labeled.icon.button.green.disabled
          i.right.arrow.icon
          | Next
      &nbsp;
      .ui.buttons
        .ui.right.labeled.icon.button.purple.disabled
          i.share.icon
          | Share

div(ui-view="mainView")
