.ui.container
  .ui.menu.large.secondary.pointing.menu
    .item.header Angular App
    a.item Home
    a.item About
    a.item Contact
    .right.item
      .ui.buttons
        .ui.labeled.icon.button.orange
          i.left.arrow.icon
          | Previous
        .or(data-text="")
        .ui.right.labeled.icon.button.green
          i.right.arrow.icon
          | Next
      &nbsp;
      .ui.buttons
        .ui.right.labeled.icon.button.blue
          i.save.icon
          | Save
&nbsp;
.ui.container
  div(ng-include="'views/main.html'", ng-controller='MainCtrl')

.ui.divider

.ui.container  
  i.heart.icon
  | from the Yeoman team
