.ui.container.fluid
  .ui.menu.large.secondary.pointing.menu
    .item.header TV Shows with Subtitles
    a.item(ui-sref="search")    Search
    a.item(ui-sref="savedData") Saved Data
    a.item(ui-sref="watch")     Watch
    .right.item#mine-header-menu-right-buttons
      .ui.buttons
        .ui.labeled.icon.button.orange
          i.left.arrow.icon
          | Previous
        .or(data-text="")
        .ui.right.labeled.icon.button.green
          i.right.arrow.icon
          | Next
      &nbsp;
      .ui.buttons
        .ui.right.labeled.icon.button.blue
          i.save.icon
          | Save
&nbsp;
div(ui-view="mainView")
