.ui.container.fluid
  .ui.menu
    .header.item TV Shows with Subtitles
    .ui.link.item(ui-sref="search" ng-class="{active: vm.$state.current.name == 'search'}") Search
    .ui.link.item(ui-sref="savedData" ng-class="{active: vm.$state.current.name == 'savedData'}") Saved Data
      .ui.left.pointing.yellow.label 0
    .ui.dropdown.item(ng-class="{disabled: !vm.TvonlineWrapper.video, 'mine-active': vm.$state.current.name == 'watch'}")
      | Watch
      i.dropdown.icon
      .menu
        .ui.button.item(ng-click="vm.Globals.subtitlesMode = true" ui-sref="watch" ng-class="{disabled: !vm.SpringfieldWrapper.episode}")
          | with Subtitles
        .item(ng-click="vm.Globals.subtitlesMode = false" ui-sref="watch")
          | without Subtitles

    .right.item#mine-header-menu-right-buttons
      .ui.small.buttons
        .ui.labeled.icon.button.orange.disabled
          i.left.arrow.icon
          | Previous
        .or(data-text="")
        .ui.right.labeled.icon.button.green.disabled
          i.right.arrow.icon
          | Next
      | &nbsp;
      .ui.small.buttons
        .ui.right.labeled.icon.button.purple.disabled
          i.share.icon
          | Share

div(ui-view="mainView")
