.ui.container.fluid
  .ui.menu
    .header.item TV Shows with Subtitles
    .ui.link.item(ui-sref="search" ng-class="{active: vm.$state.current.name == 'search'}") Search
    .item.disabled(ui-sref="savedData" ng-class="{active: vm.$state.current.name == 'savedData'}") Saved Data
      .ui.left.pointing.yellow.label 0
    .ui.dropdown.item(ng-class="{disabled: !vm.TvonlineWrapper.video, 'mine-active': vm.$state.current.name == 'watch'}")
      span(ng-style="{color: vm.TvonlineWrapper.video ? 'blue' : 'black'}") Watch
      i.dropdown.icon
      .menu
        .ui.button.item(ng-click="vm.Globals.subtitlesMode = true" ui-sref="watch" ng-class="{disabled: !vm.SpringfieldWrapper.episode}")
          | with Subtitles
        .item(ng-click="vm.Globals.subtitlesMode = false" ui-sref="watch")
          | without Subtitles

    .ui.item(ng-show="vm.$state.current.name == 'watch'")
      .ui.breadcrumb
        .section {{ vm.TvonlineWrapper.title.name }}
        i.right.angle.icon.divider
        .section Season {{ vm.TvonlineWrapper.season.seasonNumber }}
        i.right.angle.icon.divider
        .section Episode {{ vm.TvonlineWrapper.episode.episodeNumber }} ( {{ vm.TvonlineWrapper.episode.name }} )

    .right.item#mine-header-menu-right-buttons
      #subtitles-position-slider(ng-show="vm.Globals.subtitlesMode && vm.$state.current.name == 'watch'")
        rzslider(rz-slider-model="vm.Globals.subtitlesCssLeft",
                 rz-slider-floor="18",
                 rz-slider-ceil="82")
      .ui.small.buttons
        .ui.orange.icon.button.mine-popup.disabled(data-content="Previous Episode" data-position="bottom right")
          i.left.arrow.icon(style="margin-right: 6px; margin-left: -3px;")
        .or(data-text="")
        .ui.green.icon.button.mine-popup.disabled(data-content="Next Episode" data-position="bottom right")
          i.right.arrow.icon(style="margin-left: 6px; margin-right: -3px;")
      | &nbsp;
      .ui.purple.icon.button.mine-popup.disabled(data-content="Share" data-position="bottom right")
        i.share.alternate.icon
      | &nbsp;
      .ui.yellow.icon.button.mine-popup.disabled(data-content="Save" data-position="bottom right")
        i.save.icon


div(ui-view="mainView")
