.ui.container
  .ui.cards
    .card
      .content
        i.right.floated.remove.link.icon
        .header.card-title
          | Person of Interest (2011)
      .extra.content
        .ui.list
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.season-content
              .description Season 6
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.episode-content
              .description
                | Episode 16:
                br
                | The Bycycle Theft
      .ui.bottom.attached.blue.button
        | Restore
