.ui.container
  .ui.cards
    .card(ng-repeat="item in vm.Item.items | orderBy:'tvTitle.name' ")
      .content
        i.right.floated.remove.link.icon(ng-click="vm.removeItem(item)")
        .header.card-title
          | {{ item.tvTitle.name }}
      .extra.content
        .ui.list
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.season-content
              .description Season {{ item.tvSeason.seasonNumber }}
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.episode-content
              .description
                | Episode {{ item.tvEpisode.episodeNumber }}:
                br
                | {{ item.tvEpisode.name }}
      .ui.bottom.attached.blue.button(ng-click="vm.restoreItem(item)")
        | Restore
