.ui.container
  -// .ui.active.centered.large.inline.loader(ng-show="vm.itemsTracker.active()" style="top: 30vh;")
  .ui.cards
    .card(ng-repeat="item in vm.Auth.userItems | orderBy:'tvTitle.name' ")
      .content
        i.right.floated.remove.link.icon(ng-click="vm.Auth.userItems.$remove(item)")
        .header.card-title
          | {{ item.tvTitle.name }}
      .extra.content
        .ui.list
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.season-content
              .description Season {{ item.tvSeason.seasonNumber }}
          .item
            i.right.angle.icon(style="padding-top: 0;")
            .content.episode-content
              .description
                | Episode {{ item.tvEpisode.episodeNumber }}:
                br
                | {{ item.tvEpisode.name }}
      .ui.bottom.attached.blue.button(ng-click="vm.Item.restoreWrappers(item)")
        | Restore
        i.share.icon(style="padding-left: 10px;")

.ui.container(style="margin-top: 50px;")
  .ui.icon.button(ng-click="vm.SpeechApi.toggle()", ng-class="{pink: vm.SpeechApi.state}")
    i.icon(ng-class="{unmute: vm.SpeechApi.state, mute: !vm.SpeechApi.state}")
  .ui.icon.button(ng-click="vm.SpeechApi.restart()" ng-class="{disabled: !vm.SpeechApi.state}")
    i.bomb.icon
  .ui.top.attached.header Testing Speech API
  .ui.attached.segment {{ vm.SpeechApi.recentWords }}
  .ui.attached.segment(
    ng-repeat="result in vm.SpeechApi.results"
    ng-class="{bottom: $last}"
  ) {{ result[0].transcript }}
