.ui.container
  .ui.cards
    .card
      .content
        i.right.floated.remove.link.icon
        i.right.floated.search.link.icon
        .header.card-title
          | Person of Interest (2011)
      .extra.content
        .ui.list
          .item
            i.right.angle.icon
            .content
              .description Season 6
          .item
            i.right.angle.icon
            .content
              .description
                | Episode 16:
                br
                | The Bycycle Theft
          .item
            i.right.angle.icon
            .content
              .description nowvideo
      .ui.bottom.attached.buttons
        .ui.orange.icon.button
          i.left.arrow.icon
        .ui.blue.button
          | Watch
          i.record.icon(style="margin-left: 3px;")
        .ui.green.icon.button
          i.right.arrow.icon
