.ui.button(ng-click="vm.debug()")
  | debug

.ui.container

  .ui.four.column.grid

    .column
      .ui.container
        label Search TV Show Titles:
        .ui.icon.input
          input(type='text', placeholder='Search titles...', ng-model='vm.query')
          i.search.link.icon
      
    .column
      .ui.container
        label Titles from TVOnline:
        selectable-list(list='vm.SpringfieldFixtures.titles', selected-value='vm.value0')

      .ui.container
        label Titles from Springfield:
        selectable-list(list='vm.TvonlineFixtures.titles', selected-value='vm.value1')
  
    .column
      .ui.container
        label Episodes from TVOnline:
        selectable-list(list='vm.TvonlineFixtures.episodes', selected-value='vm.value2')

      .ui.container
        label Episodes from Springfield:
        selectable-list(list='vm.SpringfieldFixtures.episodes', selected-value='vm.value3')
  
    .column
      .ui.container
        label Videos Providers:
        selectable-list(list='vm.TvonlineFixtures.videos', selected-value='vm.value4')
