.ui.container.fulid
  .ui.four.column.grid
    .ui.column
      .ui.icon.input
        input(type='text', placeholder='Search titles...')
        i.inverted.circular.search.link.icon
      
    .ui.column
      .ui.selection.scrolling.dropdown
        input(type="hidden", name="gender")
        .default.text Select choice
        i.dropdown.icon
        .menu
          .item Choice 1
          .item Choice 2
          .item Choice 3
          .item Choice 4
          .item Choice 5
          .item Choice 6
          .item Choice 7
          .item Choice 8
          .item Choice 9
          .item Choice 10
          .item Choice 11
          .item Choice 12
          .item Choice 13
          .item Choice 14
          .item Choice 15

      .ui.selection.scrolling.dropdown
        input(type="hidden", name="gender")
        .default.text Select choice
        i.dropdown.icon
        .menu
          .item Choice 1
  
    .ui.column
      .ui.selection.scrolling.dropdown
        input(type="hidden", name="gender")
        .default.text Select choice
        i.dropdown.icon
        .menu
          .item Choice 1
          .item Choice 2
          .item Choice 3

      .ui.selection.scrolling.dropdown
        input(type="hidden", name="gender")
        .default.text Select choice
        i.dropdown.icon
        .menu
          .item Choice 1
  
    .ui.column
      .ui.selection.scrolling.dropdown
        input(type="hidden", name="gender")
        .default.text Select choice
        i.dropdown.icon
        .menu
          .item Choice 1
          .item Choice 2
          .item Choice 3
