#video
  iframe(ng-src="{{ vm.trustSrc(vm.TvonlineWrapper.video.url) }}")

.ui.segment#subtitles-wrap
  .ui.centered.inline.loader.active(ng-show="!vm.SpringfieldWrapper.subtitles")
  #subtitles(ng-bind-html="vm.SpringfieldWrapper.subtitles", ng-show="vm.SpringfieldWrapper.subtitles")
