.ui.vertical.menu.mine-scrollable
  a.item(ng-repeat="elem in vm.list",
        ng-click="vm.selectedElem = elem",
        ng-class="{'active': vm.selectedElem == elem}")
    | {{ vm.elemDisplay(elem) }}