.view
  .header
    -# %button#button_title{:onclick => "get_titles()"} get titles
    %select#select_title
    %button#button_number{:onclick => "get_numbers()"} get numbers
    %select#select_number
    %button#button_vocab{:onclick => "get_vocabs()"} get vocabularies

  .vocabularies
  -# .vocabulary
  -#   %span.word word
  -#   %span.sentence sentence
  -#   %img{:src => "/screenshots/picture.png"}
