!!! 5
%html{'ng-app' => 'videosubApp'}
%html
  %head
    // jquery, bootstrap
    %link{href: 'bower_components/bootstrap/dist/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'bower_components/jquery/dist/jquery.js'}
    %script{src: 'bower_components/bootstrap/dist/js/bootstrap.js'}

    // angular
    %script{src: 'bower_components/angularjs/angular.js'}
    %script{src: 'bower_components/angular-animate/angular-animate.js'}
    %script{src: 'bower_components/angular-sanitize/angular-sanitize.js'}
    %script{src: 'bower_components/angular-cookies/angular-cookies.js'}

    // app specific scripts
    %link{href: 'css/main.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'js/controllers.js'}
    %script{src: 'js/yqlService.js'}
    %script{src: 'js/parseService.js'}
  
  %body{'ng-controller' => 'videosubCtrl'}
    .container-fluid

      .setting
        %a#button.btn{'ng-class' => '{"btn-primary": on, "btn-danger": !on}',
                      'ng-click' => 'on = !on'}
          %span.glyphicon{'ng-class' => '{"glyphicon-folder-open":   on,
                                          "glyphicon-folder-close": !on}'}

        .panel.panel-default{'ng-show' => 'on'}
          .panel-body
            %form{'ng-submit' => 'searchTitles()'}
              .input-group
                %input.form-control{placeholder: 'TV Show Title',
                                    'ng-model' => 'titleQuery'}
                %a.btn.input-group-addon{'ng-click' => 'searchTitles()'}
                  %span.glyphicon.glyphicon-search
      
            .div-label
              %strong Titles from Springfield:
              %img.pull-right.loading{src: 'images/ajax-loader.gif',
                                     'ng-show' => 'loading0'}
            %select.form-control{'ng-model' => 'springfieldTitle'}
              %option{'ng-repeat' => 'title in springfieldTitleSuggestions',
                      'value'     => '{{ title.val }}'} {{ title.name }}
      
            .div-label
              %strong Episodes from Springfield:
              %img.pull-right.loading{src: 'images/ajax-loader.gif',
                                     'ng-show' => 'loading2'}
            
            %select.form-control{'ng-model' => 'springfieldEpisode'}
              %option{'ng-repeat' => 'episode in springfieldEpisodes',
                      'value'     => '{{ episode.val }}'} {{ episode.name }}
      
            .div-label
              %strong Titles from TVOnline:
              %img.pull-right.loading{src: 'images/ajax-loader.gif',
                                     'ng-show' => 'loading1'}
            %select.form-control{'ng-model' => 'tvonlineTitle'}
              %option{'ng-repeat' => 'title in tvonlineTitleSuggestions',
                      'value'     => '{{ title.val }}'} {{ title.name }}
      
      
            .div-label
              %strong Episodes from TVOnline:
              %img.pull-right.loading{src: 'images/ajax-loader.gif',
                                     'ng-show' => 'loading3'}
            %select.form-control{'ng-model' => 'tvonlineEpisode'}
              %option{'ng-repeat' => 'episode in tvonlineEpisodes',
                      'value'     => '{{ episode.val }}'} {{ episode.name }}
            
            .div-label
              %strong Available Videos:
              %img.pull-right.loading{src: 'images/ajax-loader.gif',
                                     'ng-show' => 'loading4'}
            %select.form-control{'ng-model' => 'embedVideoUrl'}
              %option{'ng-repeat' => 'video in embedVideoUrls',
                      'value'     => '{{ video.val }}'} {{ video.name }}

            %br
            .btn-group.btn-group-justified
              %a.btn.btn-info{'ng-click' => 'embedVideoUrl_ = embedVideoUrl',
                              'ng-class' => '{"disabled": !embedVideoUrl}'}
                Watch Video

            .div-label
              %strong Subtitle Position:
            .position-buttons
              .btn-group.btn-group-justified
                %a.btn{'ng-click' => 'x = 0; y = 1', 'ng-class' => 'buttonColor(x, y, 0, 1)'} top L
                %a.btn{'ng-click' => 'x = 1; y = 1', 'ng-class' => 'buttonColor(x, y, 1, 1)'} top
                %a.btn{'ng-click' => 'x = 2; y = 1', 'ng-class' => 'buttonColor(x, y, 2, 1)'} top R
              .btn-group.btn-group-justified
                %a.btn{'ng-click' => 'x = 0; y = 0', 'ng-class' => 'buttonColor(x, y, 0, 0)'} but. L
                %a.btn{'ng-click' => 'x = 1; y = 0', 'ng-class' => 'buttonColor(x, y, 1, 0)'} buttom 
                %a.btn{'ng-click' => 'x = 2; y = 0', 'ng-class' => 'buttonColor(x, y, 2, 0)'} but. R
            
      .video
        %iframe{'ng-src' => '{{ trustSrc(embedVideoUrl_) }}'}

      .panel.subtitle-wrap{'ng-class' => 'position(x, y)',
                           'ng-show' => 'springfieldEpisode'}
        %img.loading.center-block{src: 'images/ajax-loader1.gif',
                                 'ng-show' => 'loading5'}
        .subtitle{'ng-bind-html' => 'subtitle',
                  'ng-show' => '!loading5'}
