<!DOCTYPE html>
<html ng-app='videosubApp'></html>
<html>
  <head>
    <!-- / jquery, bootstrap -->
    <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <!-- / underscore (for `pick` function) -->
    <script src='bower_components/underscore/underscore.js'></script>
    <!-- / angular -->
    <script src='bower_components/angularjs/angular.js'></script>
    <script src='bower_components/angular-animate/angular-animate.js'></script>
    <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
    <script src='bower_components/ngstorage/ngStorage.js'></script>
    <!-- / app specific scripts -->
    <link href='css/main.css' rel='stylesheet' type='text/css'>
    <script src='js/controllers.js'></script>
    <script src='js/yqlService.js'></script>
    <script src='js/parseService.js'></script>
  </head>
  <body ng-controller='videosubCtrl'>
    <div class='container-fluid'>
      <div class='menu-buttons'>
        <a class='btn' ng-class='{"btn-primary": settingOn, "btn-danger": !settingOn}' ng-click='settingOn = !settingOn'>
          <span class='glyphicon' ng-class='{"glyphicon-folder-open":   settingOn,&#x000A;"glyphicon-folder-close": !settingOn}'></span>
        </a>
        <a class='btn' ng-class='{"btn-primary": historyOn, "btn-danger": !historyOn}' ng-click='historyOn = !historyOn'>
          <span class='glyphicon glyphicon-list'></span>
          <span class='badge'>{{ $storage.history.length }}</span>
        </a>
      </div>
      <div class='setting panel panel-default' ng-show='settingOn'>
        <div class='panel-body'>
          <!-- / search form of TV show title -->
          <strong>Search TV Show Title:</strong>
          <form ng-submit='searchTitles()'>
            <div class='input-group'>
              <input class='form-control' ng-model='titleQuery' placeholder='TV Show Title'>
              <a class='btn input-group-addon' ng-click='searchTitles()'>
                <span class='glyphicon glyphicon-search'></span>
              </a>
            </div>
          </form>
          <br>
          <!-- / dropdown for choosing TV show title given the above search form (springfield) -->
          <div class='div-label'>
            <strong>Titles from TVOnline:</strong>
            <img class='pull-right loading' ng-show='loading1' src='images/ajax-loader.gif'>
          </div>
          <div class='input-group'>
            <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
              <span class='pull-left dropdown-name'>{{ tvonlineTitle.name }}</span>
              <span class='caret pull-right'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li ng-repeat='title in tvonlineTitleSuggestions'>
                <a ng-click='$parent.tvonlineTitle = title'>
                  {{ title.name }}
                </a>
              </li>
            </ul>
            <a class='btn btn-default input-group-addon' ng-click='showTVOnlineEpisodes()'>
              <span class='glyphicon glyphicon-search'></span>
            </a>
          </div>
          <!-- / dropdown for choosing a episode on the abolve TV show title (tvonline) -->
          <div class='div-label'>
            <strong>Episodes from TVOnline:</strong>
            <img class='pull-right loading' ng-show='loading3' src='images/ajax-loader.gif'>
          </div>
          <div class='input-group'>
            <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
              <span class='pull-left dropdown-name'>{{ tvonlineEpisode.name }}</span>
              <span class='caret pull-right'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li ng-repeat='title in tvonlineEpisodes'>
                <a ng-click='$parent.tvonlineEpisode = title'>
                  {{ title.name }}
                </a>
              </li>
            </ul>
            <a class='btn btn-default input-group-addon' ng-click='showTVOnlineVideoProviders()'>
              <span class='glyphicon glyphicon-search'></span>
            </a>
          </div>
          <!-- / dropdown for choosing a video provider from the chosen TV show episode (tvonline) -->
          <div class='div-label'>
            <strong>Available Video Providers:</strong>
            <img class='pull-right loading' ng-show='loading4' src='images/ajax-loader.gif'>
          </div>
          <div class='input-group'>
            <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
              <span class='pull-left dropdown-name'>{{ videoProvider.name }}</span>
              <span class='caret pull-right'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li ng-repeat='title in videoProviders'>
                <a ng-click='$parent.videoProvider = title'>
                  {{ title.name }}
                </a>
              </li>
            </ul>
            <a class='btn btn-default input-group-addon' ng-click='showVideo()'>
              <span class='glyphicon glyphicon-facetime-video'></span>
            </a>
          </div>
          <br>
          <!-- / dropdown for choosing TV show title given the above search form (springfield) -->
          <div class='div-label'>
            <strong>Titles from Springfield:</strong>
            <img class='pull-right loading' ng-show='loading0' src='images/ajax-loader.gif'>
          </div>
          <div class='input-group'>
            <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
              <span class='pull-left dropdown-name'>{{ springfieldTitle.name }}</span>
              <span class='caret pull-right'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li ng-repeat='title in springfieldTitleSuggestions'>
                <a ng-click='$parent.springfieldTitle = title'>
                  {{ title.name }}
                </a>
              </li>
            </ul>
            <a class='btn btn-default input-group-addon' ng-click='showSpringfielEpisodes()'>
              <span class='glyphicon glyphicon-search'></span>
            </a>
          </div>
          <!-- / dropdown for choosing a episode on the abolve TV show title (springfield) -->
          <div class='div-label'>
            <strong>Episodes from Springfield:</strong>
            <img class='pull-right loading' ng-show='loading2' src='images/ajax-loader.gif'>
          </div>
          <div class='input-group'>
            <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
              <span class='pull-left dropdown-name'>{{ springfieldEpisode.name }}</span>
              <span class='caret pull-right'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li ng-repeat='title in springfieldEpisodes'>
                <a ng-click='$parent.springfieldEpisode = title'>
                  {{ title.name }}
                </a>
              </li>
            </ul>
            <a class='btn btn-default input-group-addon' ng-click='showSubtitle()'>
              <span class='glyphicon glyphicon-font'></span>
            </a>
          </div>
          <!-- / buttons to set the place of floating subtitle -->
          <div class='div-label'>
            <strong>Subtitle Position:</strong>
          </div>
          <div class='position-buttons'>
            <div class='btn-group btn-group-justified'>
              <a class='btn' ng-class='buttonColor(x, y, 0, 1)' ng-click='x = 0; y = 1'>top L</a>
              <a class='btn' ng-class='buttonColor(x, y, 1, 1)' ng-click='x = 1; y = 1'>top</a>
              <a class='btn' ng-class='buttonColor(x, y, 2, 1)' ng-click='x = 2; y = 1'>top R</a>
            </div>
            <div class='btn-group btn-group-justified'>
              <a class='btn' ng-class='buttonColor(x, y, 0, 0)' ng-click='x = 0; y = 0'>bot. L</a>
              <a class='btn' ng-class='buttonColor(x, y, 1, 0)' ng-click='x = 1; y = 0'>bottom</a>
              <a class='btn' ng-class='buttonColor(x, y, 2, 0)' ng-click='x = 2; y = 0'>bot. R</a>
            </div>
          </div>
          <!-- / episode navigation and save data button -->
          <br>
          <div class='btn-group'>
            <div class='btn btn-success episode-nav' ng-click='jumpEpisode(-1)'>
              <span class='glyphicon glyphicon-arrow-left'></span>
            </div>
            <div class='btn btn-info save-button' ng-click='putNewData()'>
              Save
            </div>
            <div class='btn btn-success episode-nav' ng-click='jumpEpisode(1)'>
              <span class='glyphicon glyphicon-arrow-right'></span>
            </div>
          </div>
        </div>
      </div>
      <div class='history panel panel-default' ng-show='historyOn'>
        <div class='panel-body'>
          <strong>Saved Data List</strong>
          <table class='table table-striped'>
            <tbody>
              <tr ng-repeat='data in $storage.history'>
                <td>{{ data.springfieldTitle.name }}</td>
                <td class='btn-group btn-group-sm'>
                  <a class='btn btn-default' ng-click='loadData(data)'>
                    <span class='glyphicon glyphicon-open'></span>
                  </a>
                  <a class='btn btn-default' ng-click='deleteData(data)'>
                    <span class='glyphicon glyphicon-remove'></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='video'>
        <iframe ng-src='{{ trustSrc(embedVideoUrl) }}'></iframe>
      </div>
      <div class='panel subtitle-wrap' ng-class='position(x, y)' ng-show='subtitleAppearance'>
        <img class='loading center-block' ng-show='loading5' src='images/ajax-loader1.gif'>
        <div class='subtitle' ng-bind-html='subtitle' ng-show='!loading5'></div>
      </div>
    </div>
  </body>
</html>
