!!! 5
%html{'ng-app' => 'videosubApp'}
%html
  %head
    // jquery, bootstrap
    %link{href: 'bower_components/bootstrap/dist/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'bower_components/jquery/dist/jquery.js'}
    %script{src: 'bower_components/bootstrap/dist/js/bootstrap.js'}

    // angular
    %script{src: 'bower_components/angularjs/angular.js'}
    %script{src: 'bower_components/angular-animate/angular-animate.js'}
    %script{src: 'bower_components/angular-sanitize/angular-sanitize.js'}

    // app specific scripts
    %link{href: 'css/main.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'js/controllers.js'}
    %script{src: 'js/yqlService.js'}
    %script{src: 'js/parseService.js'}
  
  %body{'ng-controller' => 'videosubCtrl'}
    .container-fluid

      .setting
        %a#button.btn{'ng-class' => '{"btn-primary": on, "btn-danger": !on}',
                      'ng-click' => 'on = !on'}
          %span.glyphicon{'ng-class' => '{"glyphicon-folder-open":   on,
                                          "glyphicon-folder-close": !on}'}

        .panel.panel-default{'ng-show' => 'on'}
          .panel-body
            %form{'ng-submit' => 'searchTitles()'}
              .input-group
                %input.form-control{placeholder: 'TV Show Title',
                                    'ng-model' => 'titleQuery'}
                %a.btn.input-group-addon{'ng-click' => 'searchTitles()'}
                  %span.glyphicon.glyphicon-search
      
            %label Titles from Springfield:
            %select.form-control{'ng-model' => 'springfieldTitle'}
              %option{'ng-repeat' => 'title in springfieldTitleSuggestions',
                      'value'     => '{{ title.val }}'} {{ title.name }}
      
            %label Titles from TVOnline:
            %select.form-control{'ng-model' => 'tvonlineTitle'}
              %option{'ng-repeat' => 'title in tvonlineTitleSuggestions',
                      'value'     => '{{ title.val }}'} {{ title.name }}
      
      
            %label Episodes from Springfield:
            %select.form-control{'ng-model' => 'springfieldEpisode'}
              %option{'ng-repeat' => 'episode in springfieldEpisodes',
                      'value'     => '{{ episode.val }}'} {{ episode.name }}
      
            %label Episodes from TVOnline:
            %select.form-control{'ng-model' => 'tvonlineEpisode'}
              %option{'ng-repeat' => 'episode in tvonlineEpisodes',
                      'value'     => '{{ episode.val }}'} {{ episode.name }}
            
            %label Available Videos:
            %select.form-control{'ng-model' => 'embedVideoUrl'}
              %option{'ng-repeat' => 'video in embedVideoUrls',
                      'value'     => '{{ video.val }}'} {{ video.name }}

            %label Subtitle Position:
            .position-buttons
              .btn-group.btn-group-justified
                %a.btn{'ng-click' => 'x = 0; y = 1', 'ng-class' => 'buttonColor(x, y, 0, 1)'} &nbsp;
                %a.btn{'ng-click' => 'x = 1; y = 1', 'ng-class' => 'buttonColor(x, y, 1, 1)'} &nbsp;
                %a.btn{'ng-click' => 'x = 2; y = 1', 'ng-class' => 'buttonColor(x, y, 2, 1)'} &nbsp;
              .btn-group.btn-group-justified
                %a.btn{'ng-click' => 'x = 0; y = 0', 'ng-class' => 'buttonColor(x, y, 0, 0)'} &nbsp;
                %a.btn{'ng-click' => 'x = 1; y = 0', 'ng-class' => 'buttonColor(x, y, 1, 0)'} &nbsp;
                %a.btn{'ng-click' => 'x = 2; y = 0', 'ng-class' => 'buttonColor(x, y, 2, 0)'} &nbsp;
            
            -# %p titleQuery: {{titleQuery}}
            -# %p springfieldTitle: {{springfieldTitle}}
            -# %p tvonlineTitle: {{tvonlineTitle}}
            -# %p springfieldEpisode: {{springfieldEpisode}}
            -# %p tvonlineEpisode: {{tvonlineEpisode}}
            -# %p embedVideoUrl: {{embedVideoUrl}}
            -# %p x: {{x}}, y: {{y}}

      .video
        %iframe{'ng-src' => '{{ trustSrc(embedVideoUrl) }}'}

      .panel.subtitle{'ng-bind-html' => 'subtitle',
                      'ng-class' => 'position(x, y)'}

