
.div-form
  .div-search
    %p search for titles
    %input#title_inquiry
    %br

    %button#search_button{:onclick => "searchTitles()"} search!!

    %p titles in springfield
    %select#scripts_titles{:name => "scripts_titles"}
      %br

    %br

    %p season number
    %input#season
    %br

    %p episode number
    %input#episode
    %br

    %button{:onclick => "update3()"} get scripts!
    %br

    %button{:onclick => "blanky()"} make it blank!
    %button{:onclick => "unblanky()"} resume it!

.div-blank
  %p 

