/* NOTE: copy the style of `.ui.menu .active.item ` since semantic-ui built-in `.active` prevents dropdown from working */
.mine-active {
    background: rgba(0, 0, 0, 0.05) !important;
    color: rgba(0, 0, 0, 0.95)      !important;
    font-weight: normal             !important;
    box-shadow: none                !important;
}

/* NOTE: overwrite angularjs-slider style */
#subtitles-position-slider {
    width: 150px;
    margin-right: 20px;
    rzslider {
        margin-top:    10px;
        margin-bottom: 10px;
        .rz-bubble {
            display: none;
        }
    }
}

#mine-header-menu-right-buttons {
    padding-top:    5px;
    padding-bottom: 5px;
}

.mine-scrollable {
    max-height: 220px;
    overflow-y: auto;
}

#video {
    z-index: 0;
    iframe {
        width: 100%;
        height: calc(100vh - 49px);
        overflow: hidden;
        border: 0px;
    }
}

#subtitles-wrap {
    /* NOTE: `left` is set via ngStyle */
    /* left: 50%; */
    transform: translateX(-50%);
    bottom: 5%;
    position: absolute;
    width:  35%;
    max-height: 20vh;
    z-index: 1;

    color: rgb(238, 127, 61);
    background-color: black;
    opacity: 0.7;

    overflow-y: scroll;
}
