#mine-header-menu-right-buttons {
    padding-top:    5px;
    padding-bottom: 5px;
}

.mine-scrollable {
    max-height: 220px;
    overflow-y: auto;
}

#video {
    z-index: 0;
    iframe {
        width: 100%;
        height: calc(100vh - 49px);
        overflow: hidden;
        border: 0px;
    }
}

#subtitles-wrap {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    position: absolute;
    width:  35%;
    height: 20vh;
    z-index: 1;

    color: rgb(238, 127, 61);
    background-color: black;
    opacity: 0.7;

    overflow-y: scroll;
}
