/* NOTE: overwrite angularjs-slider style */
#subtitles-position-slider {
    width: 200px;
    margin-right: 20px;
    rzslider {
        margin-top:    10px;
        margin-bottom: 10px;
        .rz-bubble {
            display: none;
        }
    }
}

#breadcrumb-in-menu {
    width: calc(100% - 747px) !important;
    white-space: nowrap !important;
    overflow-x: scroll !important;
    &:before {
        width: 0px !important;
    }
    .breadcrumb {
        padding-right: 16px;
    }
}

#mine-header-menu-right-buttons {
    padding-top:    5px;
    padding-bottom: 5px;
}

.ngdialog-theme-default.search-dialog {
    padding-top: 65px              !important;
    padding-bottom: 0px            !important;
    .ngdialog-content {
        width:  calc(100% - 90px)  !important;
        height: calc(100vh - 85px) !important;
        margin-left:  45px         !important;
        margin-right: 45px         !important;
    }
}

.mine-scrollable {
    max-height: 220px;
    overflow-y: auto;
}

.seasons-menu, .videos-menu {
    max-height: 195px !important;
    overflow-y: scroll;
}

.card {
    width: 200px !important;

    .right.floated.icon {
        margin-right: 0px;
        color: grey;
        &:hover {color: black;}
    }

    .card-title {
        font-size: medium !important;
    }

    .season-content, .episode-content {
        /* padding-left: 22px     !important; */
    }

    .dropdown {
        min-height: auto       !important;
        width:          140px  !important;
        padding-top:    5px    !important;
        padding-bottom: 5px    !important;
        .dropdown.icon {
            padding-top:   11px  !important;
            right:        -47px  !important;
        }
    }

    .bottom.attached.buttons {
        .icon.button {
            width: 10px !important; /* WTF? */
            padding-left:  0px !important;
            padding-right: 0px !important;
            .right.arrow.icon {
                margin: 0px !important;
            }
        }
    }
}


#video {
    z-index: 0;
    iframe {
        width: 100%;
        height: calc(100vh - 49px);
        overflow: hidden;
        border: 0px;
    }
}

#subtitles-wrap {
    /* NOTE: `left` is set via ngStyle */
    /* left: 50%; */
    transform: translateX(-50%);
    bottom: 5%;
    position: absolute;
    width:  35%;
    max-height: 25vh;
    z-index: 1;

    color: rgb(238, 127, 61);
    background-color: black;
    opacity: 0.7;

    padding: 5px;
    padding-right: 18px;

    #auto-scroller {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width:  16px;
        border: 1px solid white;
    }

    #subtitles-scroll-wrap {
        height: calc(25vh - 10px);
        overflow-y: scroll;
    }
}
