// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: underline;
  font-weight: normal;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

button {
    padding: 2px;
    /* margin: 0px; */
    border: 0px;
}

div { font-family: Sans-Serif; }

.div-header {
    height: 3vh;
}

.div-header .para {
    float: left;
    width: 14.2%;
    text-align: center;
    font-size: 13px;
}

.div-video{
    position: relative;
    width: 75%;
}

#video {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    border: 0px;
    float: left;
}

.div-alc{
    position: relative;
    width: 25%;
    height: 95vh;
    overflow: hidden;
}

#alc {
    position: relative;
    width: 133%;
    height: 300vh;
    border: 0px;
    -moz-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.div-scripts {
    font-size: 17px;
    position: absolute;
    top: 76%; left: 20.5%;
    width: 444px;
    height: 136px;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
}

.div-scripts-wrap {
    width: 444px;
    height: 136px;
    overflow: scroll;
    overflow-x: hidden;
}

.div-scripts p{
    margin: 10px;
    color: rgb(238, 127, 61);
}

.div-form{
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 5px;
    width: 130px;
    background: rgb(28, 190, 190);
}

.div-form select, input{
    width: 120px;
}

/* draggable resizable components */
#segrip, #nwgrip-drag {
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
}

#segrip {
    right: -5px;
    bottom: -5px;
    background-color: #ffffff;
}

#nwgrip-drag {
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: green;
    cursor: move;
    z-index: 100;
}

.ui-resizable-helper { border: 2px dotted #00F; }
