<!DOCTYPE html>
<html ng-app='videosubApp'></html>
<html>
  <head>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='bower_components/angularjs/angular.js'></script>
    <script src='js/controllers.js'></script>
  </head>
  <body ng-controller='videosubCtrl'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-2'>
          <div class='input-group'>
            <input class='form-control' ng-model='titleQuery' placeholder='Title Name'>
            <a class='btn input-group-addon' ng-click='searchTitle()'>
              <span class='glyphicon glyphicon-search'></span>
            </a>
          </div>
          <label>Titles from TVOnline:</label>
          <select class='form-control' ng-model='titlesTVOnline'></select>
          <label>Titles from Springfield:</label>
          <select class='form-control' ng-model='titlesSpringfield'></select>
          <p>titleQuery: {{ titleQuery }}</p>
        </div>
        <div class='col-xs-10'></div>
      </div>
    </div>
  </body>
</html>
