!!!
%html
  %head
    - jss  = %W[jquery jquery-ui bootstrap bootstrap-toggle underscore js.cookie]
    - csss = %W[jquery-ui bootstrap bootstrap-toggle]
    - jss.each do |js|
      %script{src: "vendor/javascripts/#{js}.js"}
    - csss.each do |css|
      %link{rel: 'stylesheet', type: 'text/css', href: "vendor/stylesheets/#{css}.css"}
    %link{rel: 'stylesheet', type: 'text/css', href: 'index.css'}
    %script{src: 'index.js'}
  %body
    = File.read 'body.html'
