<!DOCTYPE html>
<html ng-app='videosubApp'></html>
<html>
  <head>
    <!-- / jquery, bootstrap -->
    <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <!-- / angular -->
    <script src='bower_components/angularjs/angular.js'></script>
    <!-- / app specific -->
    <script src='js/controllers.js'></script>
    <script src='js/yqlService.js'></script>
    <script src='js/parseService.js'></script>
  </head>
  <body ng-controller='videosubCtrl'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-2'>
          <div class='input-group'>
            <input class='form-control' ng-model='titleQuery' placeholder='Title Name'>
            <a class='btn input-group-addon' ng-click='searchTitles()'>
              <span class='glyphicon glyphicon-search'></span>
            </a>
          </div>
          <!-- / async value update test -->
          <p>{{ httpPromisedValue }}</p>
          <p>{{ testValue }}</p>
          <p>{{ watchedValue }}</p>
          <button ng-click='updateModels()'></button>
          <!-- / async value update test -->
          <label>Titles from Springfield:</label>
          <select class='form-control' ng-model='springfieldTitle'>
            <option ng-repeat='title in springfieldTitleSuggestions' value='{{ title.val }}'>{{ title.name }}</option>
          </select>
          <label>Titles from TVOnline:</label>
          <select class='form-control' ng-model='tvonlineTitle'>
            <option ng-repeat='title in tvonlineTitleSuggestions' value='{{ title.val }}'>{{ title.name }}</option>
          </select>
          <a class='btn btn-default' ng-click='searchEpisodes()'>
            Search Episodes
          </a>
          <label>Episodes from Springfield:</label>
          <select class='form-control' ng-model='springfieldEpisode'>
            <option ng-repeat='episode in springfieldEpisodes' value='{{ episode.val }}'>{{ episode.name }}</option>
          </select>
          <label>Episodes from TVOnline:</label>
          <select class='form-control' ng-model='tvonlineEpisode'>
            <option ng-repeat='episode in tvonlineEpisodes' value='{{ episode.val }}'>{{ episode.name }}</option>
          </select>
          <a class='btn btn-default' ng-click='showVideo()'>
            Show Available Videos
          </a>
          <label>Available Videos:</label>
          <select class='form-control' ng-model='embedVideoUrl'>
            <option ng-repeat='video in embedVideoUrls' value='{{ video.val }}'>{{ video.name }}</option>
          </select>
          <p>titleQuery: {{titleQuery}}</p>
          <p>springfieldTitle: {{springfieldTitle}}</p>
          <p>tvonlineTitle: {{tvonlineTitle}}</p>
          <p>springfieldEpisode: {{springfieldEpisode}}</p>
          <p>tvonlineEpisode: {{tvonlineEpisode}}</p>
          <p>embedVideoUrl: {{embedVideoUrl}}</p>
        </div>
        <div class='col-xs-5'>
          <div class='tvonline'>
            <iframe ng-src='{{ trustSrc(embedVideoUrl) }}'></iframe>
          </div>
        </div>
        <div class='col-xs-5'>
          <div class='springfield'>
            {{ subtitle }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
